node_modules
.next
data/pglite
.git
.gitignore
*.md
*.pdf
*.ps1
*.bat
tests
figma
.pglite
docker/scripts
create.json
create-user.json
login.json
validate.json
validate2.json
validate3.json
pglite_err.txt
pglite_out.txt
dev.db
.vscode
